*{
    margin:0;
    padding:0;
    font-family : 'poppins'sans-serif;
    box-sizing : border-box;
}
/*----navigation--*/
.hero{
    background: #1d2026;
    min-height: 130vh;
    width:100%;
    color:#fff;
    position:relative;

}
/*----- flexible for device--*/
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
}

nav{
    display: flex;
    align-items:center;
    padding:20px 8%;         /*top-bottom ,left-right*/
    background-color:red;

}

nav .menu-img{
    width:20px;
    margin-right:20px;
    cursor:pointer;
}

/*--nav .logo{
    width:160px;
    cursor:pointer;
}--*/

nav ul{
    flex:1;
    text-align:right;
}
nav a:hover{
    color:#ffffff;
    text-shadow: 1px 1px 2px rgb(8, 25, 72), 0 0 25px rgb(15, 113, 165), 0 0 5px rgb(25, 192, 195);

}
nav a:active{
    color:rgb(0, 187, 197);
    font-size: 25px;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}
button{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border:0;
    outline:0;
    cursor:pointer;
    transition: background 0.5s;

}
button span{
    display:block;
    background:#999;
    height:26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s,margin-left 0.5s;
}
/*--------lamp-container--------*/
.lamp-container{
    position: absolute;
    top: 86px;
    left: 22%;
    width: 200px;
}
.lamp{
    width: 100%;
}

.light{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
    width:700px;
    margin-left:-10px;
    opacity: 0;
    transition: opacity 0.5s;

}
/*----text-container---*/
.text-container{
    max-width:600px;
    margin-top: 7%;
    margin-left: 50%;
    
}

.text-container h1{
    font-size: 60px;
    font-weight: 500;


}
.text-container a{
    text-decoration: none;
    background-color: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size:18px;
    margin-top: 30px;
    border-radius: 30px;
}

.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}

.control .line{
    width:250px;
    height: 4px;
    background-color: #fff;
    margin:0 20px;
    border-radius: 2px;
}

.control .line span{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background-color: #00986f;
    display: block;
}/*--button move---*/
.active{
    background-color: green;
}

.active span{
    background-color: #fff;
    margin-left: 31px;

}
.on{
    opacity: 1;
}
/*-----sign up form---*/
.loginbox{
    width: 350px;
    height:430px;
    background:#272828;
    color:rgb(188, 19, 19);
    top: 30%;
    left: 40%;
    position:absolute;
    box-sizing:border-box;
    box-shadow:5px 10px 20px rgb(188,19,19), 7px 15px 33px blue;
    border-radius: 7%;
}
.loginbox h1{
    margin:0px;
    padding: 20px;
    text-align: center;
    font-size: 26px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;

}
.loginbox input{
    margin-left: 20px;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 5px;
}
.loginbox input[type="text"],input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px; 
    color:#00986f;
}
.loginbox input[type="submit"]{
    border: none;
    outline:none;
    height: 40px;
    background: #fb2525;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
    font-weight:bold;
}
/*----hover in login button--*/
.loginbox input[type="submit"]:hover{
    cursor:pointer;
    background: #00986f;
    color:#fb2525;
}
.loginbox a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*-----team-------*/
.row{margin-left:10%;
margin-right:10%;}
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    
  }

  
.card {
    box-shadow: 0 4px 8px 0 rgb(252, 9, 9);
    margin: 8px;
    transition: transform .5s;
  }
.card:hover{
    box-shadow:0px 0px 10px #1100ff ;
    text-shadow:0px 0px 10px #1100ff;
    transform: scale(1.1); /*--zoom ----*/
}
.container {
    padding: 0 16px;
 }

.container a{
    color:#00986f;
    text-decoration: none;
    font-size: 20px;
}
.container a:hover{
    color:rgb(211, 169, 15);
}
/*---footer---*/

footer ul{
    padding:9px;
    flex:1;
    text-align:center;
    background-color: #1f150a;
    height: 40px;
}
footer ul li{
    display:inline-block;
    list-style:none;
    margin: 0 40px;
}
footer ul li a{
    color:white;
    text-decoration: none;
    cursor: pointer;
}
/*---------COURSES-------------*/
.coursesh1 marquee h1{
    color:#00986f;
    text-shadow:0px 0px 10px #ff0000;
    font-size:50px
}
.coursesh1 iframe{
    border-radius:70px;
    border:2px solid red;
    box-shadow: 0 0 20px rgb(0, 187, 197);
}